* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

button {
  font-family: inherit;
}

header {
  padding: 0.8em 0;
}

.title {
  color: #c41c1f;
  margin: 0;
  text-align: center;
}

.card {
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  box-shadow: rgba(63, 63, 68, 0.15) 0px 1px 2px 0px;
  display: flex;
  flex-direction: column;
  margin: 0px auto 8px;
  max-width: 90%;
  overflow: hidden;
  padding: 16px;
  width: 400px;
  position: relative;
}

.btn {
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  border: 1px solid rgb(8, 44, 78);
  color: rgb(8, 44, 78);
  cursor: pointer;
  font-weight: 600;
  padding: 8px;
  text-transform: uppercase;
  text-align: center;
}

.btn__remove-monster {
  border: 0;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  background: none;
}

input {
  border-radius: 3px;
  border: 1px solid rgb(223, 227, 232);
  margin-bottom: 8px;
  padding: 8px;
}
